@page "/"

<PageTitle>Index</PageTitle>

<h2>AliceScript Web環境</h2>
<h4>Alice@(AliceScript.Alice.Version) (Losetta v@(AliceScript.Alice.ImplementationVersion))</h4>
<p>AliceScriptをブラウザ上で試すことができます。AliceScriptの使用方法については<a href="https://docs.wsoft.ws/products/alice">AliceScriptDocs</a>を参照してください。</p>
<p>Losettaの機能により、AliceScriptをWebAssembly上で動作させる技術が実現しました。</p>

<ScriptRunner></ScriptRunner>
