@using AliceScript


<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">コードエリア</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" cols="33" @bind="Code" placeholder="// Please write here your code..."></textarea>
</div>

<button type="button" class="btn btn-success btn-lg" @onclick="OnPresed">実行</button>
<button type="button" class="btn btn-secondary btn-lg" @onclick="OnClear">クリア</button>
<br/>
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active"
                id="nav-home-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-home"
                type="button"
                role="tab"
                aria-controls="nav-home"
                aria-selected="true">
            標準出力
        </button>
        <button class="nav-link"
                id="nav-profile-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-profile"
                type="button"
                role="tab"
                aria-controls="nav-profile"
                aria-selected="false">
            エラー
        </button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active"
         id="nav-home"
         role="tabpanel"
         aria-labelledby="nav-home-tab">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" cols="33" @bind="Return" readonly></textarea>
    </div>
    <div class="tab-pane fade"
         id="nav-profile"
         role="tabpanel"
         aria-labelledby="nav-profile-tab">
        <textarea class="form-control text-danger" id="exampleFormControlTextarea2" rows="5" cols="33" @bind="Error" readonly></textarea>
    </div>
</div>

@code {
    private string Code { get; set; } = "print(\"Hello,World!\");";
    private string Return { get; set; }
    private string Error{ get; set; }
    private void OnPresed(){
        Return = "";
        if (string.IsNullOrWhiteSpace(Code))
        {
            OnClear();
        }
        else
        {
            AliceScript.Alice.Execute(Code);
        }
    }
    private void OnClear(){
        Return = null;
        Error = null;
    }
    protected override void OnAfterRender(bool firstRender)
    {
        AliceScript.Interpreter.Instance.OnOutput += Print;
        AliceScript.Interpreter.Instance.OnDebug += Print;

        AliceScript.ThrowErrorManerger.ThrowError += ThrowErrorManerger_ThrowError;
    }
    private void Print(object sender,AliceScript.OutputAvailableEventArgs e){
        this.Return += e.Output;
    }

    private void ThrowErrorManerger_ThrowError(object sender, ThrowErrorEventArgs e)
    {
        this.Error += "[E"+((int)e.ErrorCode).ToString()+"]"+e.ErrorCode.ToString()+":"+e.Message+"\n";
    }
}
