@using AliceScript;
@using System.Text;
@inject NavigationManager _navigationManager


<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">コードエリア</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" cols="33" @bind="Code" placeholder="// Please write here your code..."></textarea>
</div>

<button type="button" class="btn btn-success btn-lg" @onclick="e=>OnPresed()">実行</button>
<button type="button" class="btn btn-secondary btn-lg" @onclick="OnClear">クリア</button>
<br/>
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link @(Visible_Main ? "active" : "")"
                id="nav-home-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-home"
                type="button"
                role="tab"
                aria-controls="nav-home"
                aria-selected="true">
            出力
        </button>
        <button class="nav-link @(Visible_Error ? "active" : "")"
                id="nav-profile-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-profile"
                type="button"
                role="tab"
                aria-controls="nav-profile"
                aria-selected="false">
            エラー
        </button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade @(Visible_Main ? "show active" : "")"
         id="nav-home"
         role="tabpanel"
         aria-labelledby="nav-home-tab">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" cols="33" @bind="Return" readonly></textarea>
    </div>
    <div class="tab-pane fade @(Visible_Error ? "show active" : "")"
         id="nav-profile"
         role="tabpanel"
         aria-labelledby="nav-profile-tab">
        <textarea class="form-control text-danger" id="exampleFormControlTextarea2" rows="5" cols="33" @bind="Error" readonly="readonly"></textarea>
    </div>
</div>

@code {
    private string Code { get; set; } = "print(\"Hello,World!\");";
    private string Return { get; set; }
    private string Error{ get; set; }
    private bool Visible_Main { get; set; } = true;
    private bool Visible_Error { get; set; } = false;

    private string s_printing_buffer = "";
    private string s_error_buffer = "";
    private void OnPresed(){
        Visible_Main = true;
        Visible_Error = false;
        //OnClear();
        if (string.IsNullOrWhiteSpace(Code))
        {
            //OnClear();
        }
        else
        {
            AliceScript.Alice.Execute(Code);
        }
        Return = s_printing_buffer;
        Error = s_error_buffer;
        s_printing_buffer = "";
        s_error_buffer = "";

    }
    private void OnClear()
    {
        _navigationManager.NavigateTo(_navigationManager.Uri, true);
    }
    protected override void OnAfterRender(bool firstRender)
    {
        AliceScript.Interpreter.Instance.OnOutput += Print;
        AliceScript.Interpreter.Instance.OnDebug += Print;

        AliceScript.ThrowErrorManager.ThrowError += ThrowErrorManerger_ThrowError;
        AliceScript.ThrowErrorManager.NotCatch = false;
    }
    private void Print(object sender,AliceScript.OutputAvailableEventArgs e){
        s_printing_buffer += e.Output;
    }

    private void ThrowErrorManerger_ThrowError(object sender, ThrowErrorEventArgs e)
    {
        if (!string.IsNullOrEmpty(e.Message))
        {
            StringBuilder sb = new StringBuilder();
            sb.AppendLine(e.ErrorCode.ToString() + "(0x" + ((int)e.ErrorCode).ToString("x3") + "): " + e.Message);
            //sb.AppendLine("エラーコード: [0x" + ((int)e.ErrorCode).ToString("x3")+"] "+e.ErrorCode.ToString()+(string.IsNullOrEmpty(e.Source) ? string.Empty : " in "+e.Source));
            //sb.AppendLine("説明: "+e.Message);
            if (!string.IsNullOrWhiteSpace(e.HelpLink))
            {
                sb.AppendLine("詳細情報: " + e.HelpLink);
            }
            if (e.Script != null)
            {
                if (e.Script.StackTrace.Count > 0)
                {
                    var st = new List<AliceScript.Parsing.ParsingScript.StackInfo>(e.Script.StackTrace);
                    st.Reverse();
                    sb.AppendLine("スタックトレース");
                    foreach (var ss in st)
                    {
                        sb.Append("  ");
                        sb.AppendLine(ss.ToString());
                    }
                }
            }
            s_error_buffer += sb.ToString() + "\n";

            // 例外処理完了
            e.Handled = true;
            Visible_Main = false;
            Visible_Error = true;
        }
    }
}
